
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
          <a class="navbar-brand" href="/products">Product List</a>
          <a class="navbar-brand" href="/about">About</a>		          
        </div>
      </div>
    </div>

    <div class="container">

      <div class="admin">
        <h1>Thank you for your purchase!</h1>

        <h3><%= "You bought #{@items} items" %></h3>

        <h3><%= "You paid #{@payment}" %></h3>

        <h3><%= "Your purchase costs Php#{@cost}" %></h3>

        <h3><%= "Your change is #{@money}" %></h3>

        <h4>In denominations of:</h4>
        <h4><%= "Thousands: #{@onespeso}" %></h4>
        <h4><%= "Five Hundreds: #{@fivehundredspeso}" %></h4>
        <h4><%= "Hundreds: #{@hundredspeso}" %></h4>
        <h4><%= "Fifties: #{@fiftiespeso}" %></h4>
        <h4><%= "Twenties: #{@twentiespeso}" %></h4>
        <h4><%= "Tens: #{@tenspeso}" %></h4>
        <h4><%= "Ones: #{@onespeso}" %></h4>

        <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a href="/products" class="btn btn-default">Back to Product List</a>
              </div>
            </div>
        
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
